DATABASE_URL="postgresql://neondb_owner:npg_igW16zueUHyf@ep-fancy-hill-amfyk6u1-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://user:password@ep-example.us-east-2.aws.neon.tech/neondb?sslmode=require"

NEXT_PUBLIC_SITE_URL="https://yourdomain.com"
NEXT_PUBLIC_SITE_NAME="BTEC Tutor"

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

RESEND_API_KEY=""
RESEND_FROM_EMAIL="noreply@yourdomain.com"

NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

REVALIDATION_SECRET=""
